<button class="btn btn-primary" (click)="changeDisplayContentStatus($event)">
  Display details
</button>

<br />
<br />

<!-- <p *ngIf="displayContent">Secret Password = tuna</p> -->
<p *ngIf="displayContent; else noDisplayContent">Secret Password = tuna</p>

<div
  *ngFor="let click of buttonClicks; let i = index"
  [ngStyle]="{ backgroundColor: i >= 4 ? '#5096ff' : transparent }"
  [ngClass]="{ 'white-text': i >= 4 }"
>
  <!-- <p *ngIf=" i >= 5; else noDisplayContent">
    {{ i }}: {{ click.event }}-> x: {{ click.x }} | y: {{ click.y }}
  </p> -->
  {{ i }}: {{ click.event }}-> x: {{ click.x }} | y: {{ click.y }} | date: {{ click.date }}
</div>

<ng-template #noDisplayContent>
  <p></p>
</ng-template>
