<button class="btn btn-primary" (click)="changeDisplayContentStatus($event)">
  Display details
</button>

<br />
<br />

<p *ngIf="displayContent; else noDisplayContent">Secret Password = tuna</p>

<div
  *ngFor="let click of buttonClicks; let i = index"
  [ngStyle]="{ backgroundColor: '#5096ff' }"
  [ngClass]="{ textColor: i > 4 }"
>
  <p *ngIf="i > 4; else noDisplayContent">
    {{ i }}: {{ click.event }}-> x: {{ click.x }} | y: {{ click.y }}
  </p>
</div>

<ng-template #noDisplayContent>
  <p></p>
</ng-template>
